<div id="container">
  <%= form_for(user) do |f| %>
    <table>
      <tr>
        <td class="label">Никнейм:</td>
        <td class="icon nickname-icon"></td>
        <td class="text-bold"><%= f.text_field :nickname, size: 25 %></td>
        <td class="errors nickname-error"></td>
      </tr>
      <tr>
        <td class="label">Имя:</td>
        <td class="icon firstname-icon"></td>
        <td class="text-bold"><%= f.text_field :firstname, size: 25 %></td>
        <td class="errors firstname-error"></td>
      </tr>
      <tr>
        <td class="label">Фамилия:</td>
        <td class="icon lastname-icon"></td>
        <td class="text-bold"><%= f.text_field :lastname, size: 25 %></td>
        <td class="errors lastname-error"></td>
      </tr>
      <tr>
        <td class="label">Электронная почта:</td>
        <td class="icon email-icon"></td>
        <td class="text-bold"><%= f.email_field :email %></td>
        <td class="errors email-error"></td>
      </tr>
      <tr>
        <td class="label">Пароль:</td>
        <td class="icon password-icon"></td>
        <td class="text-bold"><%= f.password_field :password %></td>
        <td class="errors password-error"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><%= f.submit 'Готово', disabled: true, class: 'submit-button' %></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  <% end %>
</div>
