<% if @result == 'uniq'%>
  $('td.email-error').text('');
  $('td.email-icon').html('<img src="/assets/galka.jpg">');
  unblockButton();
<% else %>
  $('td.email-error').text('Такой email уже занят');
  $('input.submit-button').attr('disabled', true);
  $('td.email-icon').html('<img src="/assets/red-icon.jpg">');
<% end %>
