<p id="notice"><%= notice %></p>

<p>
  <strong>Никнейм:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Фамилия:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Список пользователей', users_path %>
