/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div#container {
   margin-left: 217px;
   margin-top: 36px;
 }

h2.registration-header {
  margin-left: 140px;
}

td.label {
  color: #707070;
  text-align: right;
}

td.errors {
  color: #D84050;
}

input#user_nickname, input#user_firstname, input#user_lastname {
  height: 20px;
  font-weight: bold;
  font-size: 20px;
}
